<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/5aaf1e8901.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <title>Kutte Billi store</title>
  </head>
  <body>
    <div id="App">
      <h1 v-text="sitename"></h1>
      <button v-on:click="showCheckout">
        <i class="fa-solid fa-cart-shopping"></i> {{cartItemCount}} Checkout
      </button>
      <div v-if="showProduct">
        <figure>
          <img v-bind:src="product.image" />
        </figure>
        <h2 v-text="product.title"></h2>
        <p v-html="product.description"></p>
        <p>Price: {{ product.price }}</p>
        <p>Available stock: {{product.availableInventory}}</p>
        <button v-on:click="addToCart" v-if="canAddToCart">Add to Cart</button>
        <button disabled="disabled" v-else>Add to cart</button>
      </div>
      <div v-else><h2>Checkout</h2></div>
    </div>
    <script>
      let webstore = new Vue({
        el: "#App",
        data: {
          showProduct: true,
          sitename: "Vue.js Petting",
          product: {
            id: 1001,
            title: "Cat Food, 25lb bag",
            description:
              "A 25 pound bag of <em>irresistible</em> organic goodness for your cat",
            price: 2000,
            image: "kitty.jpg",
            availableInventory: 10,
          },
          cart: [],
        },
        methods: {
          addToCart: function () {
            this.cart.push(this.product.id);
          },
          showCheckout() {
            this.showProduct = this.showProduct ? false : true;
          },
        },
        computed: {
          cartItemCount: function () {
            return this.cart.length || "";
          },
          canAddToCart: function () {
            return this.product.availableInventory > this.cartItemCount;
          },
        },
      });
    </script>
  </body>
</html>
